body {
  font-family: sans-serif;
}

.btn {
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  display: inline-block;
}

.btn-blue:disabled {
  background-color: grey;
}

.btn-blue {
  background-color: cornflowerblue;
  color: black;
}

select {
  padding: 0.4rem 1rem;
}

.d-flex {
  flex-wrap: wrap;

  display: flex;
  align-items: start;
  max-width: 100%;
}

p {
  margin: 0.5rem 0;
}

button {
  cursor: pointer;
}

.container {
  max-width: 100%;
}

section {
  border-radius: 4px;
  border: 1px solid #cacaca;
  position: relative;
  width: 360px;
  padding: 1rem;
  margin: 1rem;
}

.btn-green {
  background-color: green;
  color: white;
}
